
.containerFight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40em;
  background-image: url(../images/fightScreen.jpg);
  background-position: center;  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.messageRumbleCamp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2em;
  font-size: 2em;
}