
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Creepster;
  background-image: url(../images/fondo.jpg);
  background-position: center;  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

.welcomeMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  font-size: 3em;
}

.names {
  width: 10em;
  height: 2em;
}

@media screen and (max-width: 1000px) {  
  .welcomeMessage {
    font-size: 2em;
  }
}

.charContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 12em;
}

img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8em;
  height: 8em;
  margin:  .5em;
}

.chooseContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60em;
}

.choosePlayer {
  font-size: 1.5em;
  margin: 1em 1em 1em;
}

.firstTeam {
  margin-left: 2em;
}

.secondTeam {
  margin-right: 2em;
}

.selectedOne {
  border: 5px solid red;
  margin-right: .5em;
}

.selectedTwo {
  border: 5px solid blue;
}

.teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60em;
  height: 10em;
}

.team1 {
  display: flex;
  margin-left: 2em;
}

.team2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
}

.vs {
  font-size: 5em;
  padding-bottom: 1em;
}

.names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}