.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.topContainer {
  display: flex;
  justify-content: center;
}

.downContainer {
  display: flex;
  justify-content: center;
}

.characters {
  width: 20em;
  height: 20em;
  border: 5px solid black;
}

.characterPic {
  width: 20em;
  height: 20em;
}

.selectedOne {
  margin: 1em;
  height: 18em;
  width: 18em;
  -webkit-filter: grayscale(80%); 
  filter: grayscale(80%);
}
.selectedTwo {
  margin: 1em;
  height: 18em;
  width: 15em;
  -webkit-filter: grayscale(80%); 
  filter: grayscale(80%);

}
